/.phpunit.cache
/node_modules
/_node_modules
/public/build
/public/media
/public/import
/public/hot
/public/img
/public/storage
/storage/media-library
/storage/*.key
/vendor
/_vendor
.env
.env.testing
.env.production
/mailpit.*
*.swp
*.mp4
.phpunit.result.cache
.phpstorm.meta.php
_ide_helper.php
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/dump.rdb
/laradumps.yaml
mcp.json
