div.inline-message,div.text-green-600 {
    position: relative;
    color: #333333;
    background-color: #F2F2F2;
    background-image: url('../../img/icons/check-circle.svg');
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: left 20px center;
    padding: 30px 30px 30px 75px;
    border-radius: 10px;
    margin-bottom: 40px;
    font-size: 16px;
}
